.register_container{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2%;
  background-color: white;
  min-width: 350px;
  width: 30%;
}

.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  display: flex;
  flex-direction:row;
  align-items: center;
}

.input_field{
  height:40px;
  width:350px;
  margin:.3cm;
  font-size: medium;
}

.input_field2{
  height:40px;
  width:170px;
  margin:.2cm;
  font-size: medium;
}

.submit_panel{
  display: flex;
  flex-direction:column;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
}

.submit{
  margin-left: 30%;
  margin-right: 30%;
  cursor: pointer;
  font-size: large;
  color: rgb(16, 103, 117);
  border-radius: 10px;
  height:50px;
}

.submit:hover {
  background-color: wheat;
}

.header{
  font: 4em sans-serif;
  color: black;
  margin: .5cm;
}

.img_icon{
  width:40px;
  margin-right:.5cm;
  background-color:rgb(16, 103, 117);
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;  
}
